apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rd-app
  namespace: flux-system
spec:
  interval: 5m
  values:
    rdApp:
      api:
        image:
          tag: prod # {"$imagepolicy": "flux-system:rd-api-prod:tag"}
        resources:
          requests:
            cpu: 250m
            memory: 500Gi
          limits:
            cpu: 500m
            memory: 1Gi
      ui:
        replicas: 2
        image:
          tag: prod # {"$imagepolicy": "flux-system:rd-ui-prod:tag"}
        resources:
          requests:
            cpu: 50m
            memory: 126Gi
          limits:
            cpu: 100m
            memory: 256Gi
