nameOverride: ""
fullnameOverride: ""

rdApp:
  api:
    enabled: true
    image:
      repository: vitaliyavramenko/todo-api
      tag: latest
      port: 8080
    replicas: 1
    probes:
      liveness:
        httpGet:
          path: /actuator/health/liveness
          port: 8080
        initialDelaySeconds: 15
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 5
      readiness:
        httpGet:
          path: /actuator/health/readiness
          port: 8080
        initialDelaySeconds: 15
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 5
  ui:
    enabled: true
    image:
      repository: vitaliyavramenko/todo-ui
      tag: latest
      port: 80
    replicas: 1
    probes:
      liveness:
        httpGet:
          port: 80
          path: /version.html
        periodSeconds: 10
      readiness:
        tcpSocket:
          port: 80
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 3
